langchain
python-dotenv
ipykernel
langchain-community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb==0.4.14
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
pydantic<2.0
httpx==0.24.1
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube-transcript-api==0.6.2
unstructured
pytube
lxml
numexpr
huggingface_hub

